h1{
    background-color: #b53333;
    text-align: center;
    color: white;
    border-radius: 4px;
}
h2{
    background-color: #054ca9;
    text-align: center;
    color: white;
    border-radius: 4px;
}